header {
    height: 80px;
    background-color: black;
}

main {
    background-color: gray;
}

figure {
    min-height: 600px;
    max-width: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

li {
    list-style: none;
}

img {
    width: 30px;
}